@charset "utf-8";
/* CSS Document */
body{
	width:100%;
	height:100%;
	overflow:hidden;
}

#listTitle{
	text-align:center;
	font-size:36px;
	margin-bottom:1px;
}
#listBody{
	margin:10px 3px 3px 3px;
	overflow:scroll;
	height:360px;
}
.channelLogo{
	width:48px;
	height:48px;
	vertical-align:middle;
}
.channelName{
	font-size:24px;
	margin-left:20px;
}
.toolbar{
	width:100%;
	height:45px;
}
.toolbar input{
	width:30%;
	height:100%;
	padding-left:10px;
}
.toolbar div{
	width:5%;
	height:100%;
	float:right;
	padding-right:10px;
	display:none;
}
.toolbar div img{
	float:right;
}
.checkbox{
	border:solid 1px #f00;
	display:none; 
	float:right; 
	margin-right:10px;	
}
